<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedRegisteredPriceReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedRegisteredPrice">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="material_fee" jdbcType="VARCHAR" property="materialFee" />
    <result column="clinics_fee" jdbcType="VARCHAR" property="clinicsFee" />
    <result column="registered_fee" jdbcType="VARCHAR" property="registeredFee" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, material_fee, clinics_fee, registered_fee, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_registered_price
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sicmed_registered_price
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

</mapper>