<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedMedicalPriceReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedMedicalPrice">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="price_cutoff_date" jdbcType="TIMESTAMP" property="priceCutoffDate" />
    <result column="price_insert_date" jdbcType="TIMESTAMP" property="priceInsertDate" />
    <result column="medical_code" jdbcType="VARCHAR" property="medicalCode" />
    <result column="price_enter" jdbcType="INTEGER" property="priceEnter" />
    <result column="price_sale" jdbcType="INTEGER" property="priceSale" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
    <result column="insert_dept" jdbcType="VARCHAR" property="insertDept" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, price_cutoff_date, price_insert_date, medical_code, price_enter, price_sale, 
    insert_user, insert_dept, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_medical_price
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

</mapper>