<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedMedicalClassReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedMedicalClass">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="pace" jdbcType="CHAR" property="pace" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, code, name, sort, pace, create_by, create_date, update_by, update_date, remarks, 
    del_flag, parent_id, parent_ids
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_medical_class
    where ID = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

  <select id="findAllList" resultType="SicmedMedicalClass">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_medical_class
    <where>
      del_flag = '0'
    </where>
    <choose>

      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

<!--查找一级分类-->
  <select id="firstClassification" resultType="SicmedMedicalClass">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_medical_class
    <where>
      del_flag = '0'  AND parent_id = #{parentId,jdbcType=VARCHAR}
    </where>
    <choose>

      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
  </select>


  <!--根据父ID查询-->
  <select id="findChild" resultType="SicmedMedicalClass">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_medical_class
    <where>
      del_flag = '0'  AND parent_id = #{parentId}
    </where>
    <choose>

      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
    <if test="query.offset != null and query.limit != null">
      limit #{query.offset}, #{query.limit}
    </if>
  </select>
</mapper>
