<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedInviteNumberReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedInviteNumber">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="invite_number" jdbcType="VARCHAR" property="inviteNumber" />
    <result column="invite_status" jdbcType="CHAR" property="inviteStatus" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_code, invite_number, invite_status, create_by, create_date, update_by, update_date, 
    remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_invite_number
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

</mapper>