<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedHospitalReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedHospital">
    <id column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="hospital_grade" jdbcType="VARCHAR" property="hospitalGrade" />
    <result column="hospital_add" jdbcType="VARCHAR" property="hospitalAdd" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    hospital_id, hospital_name, hospital_grade, hospital_add, city_code, create_by, create_date, 
    update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_hospital
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </select>
  <select id="selectALLByCityId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sicmed_hospital
    where city_code = #{cityCode,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

</mapper>