<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedCureCheckReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedCureCheck">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="cure_code" jdbcType="CHAR" property="cureCode" />
    <result column="cure_name" jdbcType="VARCHAR" property="cureName" />
    <result column="cure_name_py" jdbcType="VARCHAR" property="cureNamePy" />
    <result column="check_price_code" jdbcType="VARCHAR" property="checkPriceCode" />
    <result column="cure_class_code" jdbcType="VARCHAR" property="cureClassCode" />
    <result column="cure_detail" jdbcType="VARCHAR" property="cureDetail" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>

  <sql id="Base_Column_List">
    id, cure_code, cure_name, cure_name_py, check_price_code, cure_class_code, cure_detail, create_by,
    create_date,create_date,update_by,update_date,remarks,del_flag
  </sql>
  <!--根据名称、英文和拼音进行查询-->
  <select id="searchCure" resultType="SicmedCureCheck">
    SELECT
    <include refid="Base_Column_List" />
    FROM sicmed_cure_check 
    <where>
      del_flag = '0'
      <!--<if test="sicmedCureCheck.cureClassCode != null and sicmedCureCheck.cureClassCode!= ''">-->
        <!--AND cure_class_code = #{cureClassCode}-->
      <!--</if>-->
      <if test="sicmedCureCheck.cureCode != null and sicmedCureCheck.cureCode != ''">
        AND cure_code like CONCAT('%','${sicmedCureCheck.cureCode}','%' )
      </if>
      <if test="sicmedCureCheck.cureName != null and sicmedCureCheck.cureName != ''">
        AND cure_name like CONCAT('%','${sicmedCureCheck.cureName}','%' )
      </if>
      <if test="sicmedCureCheck.cureNamePY != null and sicmedCureCheck.cureNamePY != ''">
        AND cure_name_py like CONCAT('%','${sicmedCureCheck.cureNamePY}','%' )
      </if>
    </where>
    <choose>
      <!--<when test="page !=null and page.orderBy != null and page.orderBy != ''">-->
        <!--ORDER BY ${page.orderBy}-->
      <!--</when>-->
      <otherwise>
        ORDER BY update_date DESC
      </otherwise>
    </choose>
    <if test="query != null and query.limit != null">
      limit #{query.offset}, #{query.limit}
    </if>
  </select>
</mapper>