<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedPatientReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedPatient">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_number" jdbcType="VARCHAR" property="patientNumber" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_birthday" jdbcType="TIMESTAMP" property="patientBirthday" />
    <result column="patient_card" jdbcType="CHAR" property="patientCard" />
    <result column="patient_firstdate" jdbcType="TIMESTAMP" property="patientFirstdate" />
    <result column="patient_lastdate" jdbcType="TIMESTAMP" property="patientLastdate" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="branch_code" jdbcType="VARCHAR" property="branchCode" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="doctor_code" jdbcType="VARCHAR" property="doctorCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="medicare_type" jdbcType="VARCHAR" property="medicareType" />
    <result column="medicare_no" jdbcType="VARCHAR" property="medicareNo" />
    <result column="registered_code" jdbcType="VARCHAR" property="registeredCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_number, patient_name, patient_sex, patient_birthday, patient_card, patient_firstdate, 
    patient_lastdate, patient_address, patient_tel, branch_code, create_user, update_user, 
    delete_user, doctor_code, create_by, create_date, update_by, update_date, remarks, 
    del_flag, patient_age, medicare_type, medicare_no, registered_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

  <!--selectALLByParams  模糊查询带分页-->
  <select id="selectALLByParams" resultType="SicmedPatient">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_patient
    <where>
      del_flag = '0'
      <if test="sicmedPatient.patientNumber != null and sicmedPatient.patientNumber != ''">
        AND patient_number like CONCAT('%','${sicmedPatient.patientNumber}','%' )
      </if>
      <if test="sicmedPatient.patientName != null and sicmedPatient.patientName != ''">
        AND patient_name like CONCAT('%','${sicmedPatient.patientName}','%' )
      </if>


    </where>
    ORDER BY create_date

    <if test="query.offset != null and query.limit != null">
      limit #{query.offset}, #{query.limit}
    </if>
  </select>


</mapper>