<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedPatientDiseaseReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedPatientDisease">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_code" jdbcType="VARCHAR" property="patientCode" />
    <result column="disease_code" jdbcType="VARCHAR" property="diseaseCode" />
    <result column="branch_code" jdbcType="VARCHAR" property="branchCode" />
    <result column="case_code" jdbcType="VARCHAR" property="caseCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_code, disease_code, branch_code, case_code, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_patient_disease
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getByCase" resultType="SicmedPatientDisease">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_patient_disease
    <where>
      del_flag = '0'  AND case_code = #{caseCode,jdbcType=VARCHAR}
    </where>
    <choose>
      <!--<when test="page !=null and page.orderBy != null and page.orderBy != ''">-->
      <!--ORDER BY ${page.orderBy}-->
      <!--</when>-->
      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
  </select>

  <!--selectOneByParams  唯一性查询-->
  <select id="selectOneByParams" resultType="SicmedPatientDisease">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_patient_disease
    <where>
      del_flag = '0'  AND case_code = #{caseCode,jdbcType=VARCHAR}  AND disease_code = #{diseaseCode,jdbcType=VARCHAR}
    </where>
    <choose>
      <!--<when test="page !=null and page.orderBy != null and page.orderBy != ''">-->
      <!--ORDER BY ${page.orderBy}-->
      <!--</when>-->
      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
  </select>
</mapper>