<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedMedicalUseReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedMedicalUse">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="asked_code" jdbcType="VARCHAR" property="askedCode" />
    <result column="use_group" jdbcType="VARCHAR" property="useGroup" />
    <result column="use_name" jdbcType="VARCHAR" property="useName" />
    <result column="use_bun" jdbcType="VARCHAR" property="useBun" />
    <result column="use_unit" jdbcType="VARCHAR" property="useUnit" />
    <result column="use_amount" jdbcType="INTEGER" property="useAmount" />
    <result column="use_day" jdbcType="INTEGER" property="useDay" />
    <result column="use_bout" jdbcType="INTEGER" property="useBout" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, asked_code, use_group, use_name, use_bun, use_unit, use_amount, use_day, use_bout, 
    create_user, update_user, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_medical_use
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

</mapper>