<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedPatientReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedPatient">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_number" jdbcType="VARCHAR" property="patientNumber" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_birthday" jdbcType="TIMESTAMP" property="patientBirthday" />
    <result column="patient_card" jdbcType="CHAR" property="patientCard" />
    <result column="patient_firstdate" jdbcType="TIMESTAMP" property="patientFirstdate" />
    <result column="patient_lastdate" jdbcType="TIMESTAMP" property="patientLastdate" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="branch_code" jdbcType="VARCHAR" property="branchCode" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="doctor_code" jdbcType="VARCHAR" property="doctorCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="medicare_type" jdbcType="VARCHAR" property="medicareType" />
    <result column="medicare_no" jdbcType="VARCHAR" property="medicareNo" />
    <result column="registered_code" jdbcType="VARCHAR" property="registeredCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_number, patient_name, patient_sex, patient_birthday, patient_card, patient_firstdate, 
    patient_lastdate, patient_address, patient_tel, branch_code, create_user, update_user, 
    delete_user, doctor_code, create_by, create_date, update_by, update_date, remarks, 
    del_flag, patient_age, medicare_type, medicare_no, registered_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sicmed.ehis.entity.SicmedPatient">
    insert into sicmed_patient (id, patient_number, patient_name, 
      patient_sex, patient_birthday, patient_card, 
      patient_firstdate, patient_lastdate, 
      patient_address, patient_tel, branch_code, 
      create_user, update_user, delete_user, 
      doctor_code, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, patient_age, medicare_type, 
      medicare_no, registered_code)
    values (#{id,jdbcType=VARCHAR}, #{patientNumber,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{patientSex,jdbcType=VARCHAR}, #{patientBirthday,jdbcType=TIMESTAMP}, #{patientCard,jdbcType=CHAR}, 
      #{patientFirstdate,jdbcType=TIMESTAMP}, #{patientLastdate,jdbcType=TIMESTAMP}, 
      #{patientAddress,jdbcType=VARCHAR}, #{patientTel,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{deleteUser,jdbcType=VARCHAR}, 
      #{doctorCode,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{patientAge,jdbcType=INTEGER}, #{medicareType,jdbcType=VARCHAR}, 
      #{medicareNo,jdbcType=VARCHAR}, #{registeredCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sicmed.ehis.entity.SicmedPatient">
    insert into sicmed_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientNumber != null">
        patient_number,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientBirthday != null">
        patient_birthday,
      </if>
      <if test="patientCard != null">
        patient_card,
      </if>
      <if test="patientFirstdate != null">
        patient_firstdate,
      </if>
      <if test="patientLastdate != null">
        patient_lastdate,
      </if>
      <if test="patientAddress != null">
        patient_address,
      </if>
      <if test="patientTel != null">
        patient_tel,
      </if>
      <if test="branchCode != null">
        branch_code,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="doctorCode != null">
        doctor_code,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="medicareType != null">
        medicare_type,
      </if>
      <if test="medicareNo != null">
        medicare_no,
      </if>
      <if test="registeredCode != null">
        registered_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientNumber != null">
        #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientBirthday != null">
        #{patientBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="patientCard != null">
        #{patientCard,jdbcType=CHAR},
      </if>
      <if test="patientFirstdate != null">
        #{patientFirstdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientLastdate != null">
        #{patientLastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientAddress != null">
        #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="doctorCode != null">
        #{doctorCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="medicareType != null">
        #{medicareType,jdbcType=VARCHAR},
      </if>
      <if test="medicareNo != null">
        #{medicareNo,jdbcType=VARCHAR},
      </if>
      <if test="registeredCode != null">
        #{registeredCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.ehis.entity.SicmedPatient">
    update sicmed_patient
    <set>
      <if test="patientNumber != null">
        patient_number = #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        patient_sex = #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientBirthday != null">
        patient_birthday = #{patientBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="patientCard != null">
        patient_card = #{patientCard,jdbcType=CHAR},
      </if>
      <if test="patientFirstdate != null">
        patient_firstdate = #{patientFirstdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientLastdate != null">
        patient_lastdate = #{patientLastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientAddress != null">
        patient_address = #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientTel != null">
        patient_tel = #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        branch_code = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="doctorCode != null">
        doctor_code = #{doctorCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="patientAge != null">
        patient_age = #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="medicareType != null">
        medicare_type = #{medicareType,jdbcType=VARCHAR},
      </if>
      <if test="medicareNo != null">
        medicare_no = #{medicareNo,jdbcType=VARCHAR},
      </if>
      <if test="registeredCode != null">
        registered_code = #{registeredCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sicmed.ehis.entity.SicmedPatient">
    update sicmed_patient
    set patient_number = #{patientNumber,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=VARCHAR},
      patient_birthday = #{patientBirthday,jdbcType=TIMESTAMP},
      patient_card = #{patientCard,jdbcType=CHAR},
      patient_firstdate = #{patientFirstdate,jdbcType=TIMESTAMP},
      patient_lastdate = #{patientLastdate,jdbcType=TIMESTAMP},
      patient_address = #{patientAddress,jdbcType=VARCHAR},
      patient_tel = #{patientTel,jdbcType=VARCHAR},
      branch_code = #{branchCode,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      doctor_code = #{doctorCode,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      patient_age = #{patientAge,jdbcType=INTEGER},
      medicare_type = #{medicareType,jdbcType=VARCHAR},
      medicare_no = #{medicareNo,jdbcType=VARCHAR},
      registered_code = #{registeredCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>