<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedTwxrayClassReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedTwxrayClass">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_code" jdbcType="VARCHAR" property="classCode" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="pacs_class" jdbcType="CHAR" property="pacsClass" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_code, class_name, pacs_class, sort, create_by, create_date, update_by, 
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_twxray_class
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="findAllList" resultType="SicmedTwxrayClass">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_twxray_class
    <where>
      del_flag = '0'
    </where>
    <choose>

      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

</mapper>