<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.mapper.slaver.SicmedMedicalPriceReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.entity.SicmedMedicalPrice">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="price_cutoff_date" jdbcType="TIMESTAMP" property="priceCutoffDate" />
    <result column="price_insert_date" jdbcType="TIMESTAMP" property="priceInsertDate" />
    <result column="medical_code" jdbcType="VARCHAR" property="medicalCode" />
    <result column="price_enter" jdbcType="INTEGER" property="priceEnter" />
    <result column="price_sale" jdbcType="INTEGER" property="priceSale" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
    <result column="insert_dept" jdbcType="VARCHAR" property="insertDept" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, price_cutoff_date, price_insert_date, medical_code, price_enter, price_sale, 
    insert_user, insert_dept, create_by, create_date, update_by, update_date, remarks, 
    del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_medical_price
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sicmed_medical_price
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sicmed.ehis.entity.SicmedMedicalPrice">
    insert into sicmed_medical_price (id, price_cutoff_date, price_insert_date, 
      medical_code, price_enter, price_sale, 
      insert_user, insert_dept, create_by, 
      create_date, update_by, update_date, 
      remarks, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{priceCutoffDate,jdbcType=TIMESTAMP}, #{priceInsertDate,jdbcType=TIMESTAMP}, 
      #{medicalCode,jdbcType=VARCHAR}, #{priceEnter,jdbcType=INTEGER}, #{priceSale,jdbcType=INTEGER}, 
      #{insertUser,jdbcType=VARCHAR}, #{insertDept,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sicmed.ehis.entity.SicmedMedicalPrice">
    insert into sicmed_medical_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="priceCutoffDate != null">
        price_cutoff_date,
      </if>
      <if test="priceInsertDate != null">
        price_insert_date,
      </if>
      <if test="medicalCode != null">
        medical_code,
      </if>
      <if test="priceEnter != null">
        price_enter,
      </if>
      <if test="priceSale != null">
        price_sale,
      </if>
      <if test="insertUser != null">
        insert_user,
      </if>
      <if test="insertDept != null">
        insert_dept,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="priceCutoffDate != null">
        #{priceCutoffDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priceInsertDate != null">
        #{priceInsertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicalCode != null">
        #{medicalCode,jdbcType=VARCHAR},
      </if>
      <if test="priceEnter != null">
        #{priceEnter,jdbcType=INTEGER},
      </if>
      <if test="priceSale != null">
        #{priceSale,jdbcType=INTEGER},
      </if>
      <if test="insertUser != null">
        #{insertUser,jdbcType=VARCHAR},
      </if>
      <if test="insertDept != null">
        #{insertDept,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.ehis.entity.SicmedMedicalPrice">
    update sicmed_medical_price
    <set>
      <if test="priceCutoffDate != null">
        price_cutoff_date = #{priceCutoffDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priceInsertDate != null">
        price_insert_date = #{priceInsertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicalCode != null">
        medical_code = #{medicalCode,jdbcType=VARCHAR},
      </if>
      <if test="priceEnter != null">
        price_enter = #{priceEnter,jdbcType=INTEGER},
      </if>
      <if test="priceSale != null">
        price_sale = #{priceSale,jdbcType=INTEGER},
      </if>
      <if test="insertUser != null">
        insert_user = #{insertUser,jdbcType=VARCHAR},
      </if>
      <if test="insertDept != null">
        insert_dept = #{insertDept,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sicmed.ehis.entity.SicmedMedicalPrice">
    update sicmed_medical_price
    set price_cutoff_date = #{priceCutoffDate,jdbcType=TIMESTAMP},
      price_insert_date = #{priceInsertDate,jdbcType=TIMESTAMP},
      medical_code = #{medicalCode,jdbcType=VARCHAR},
      price_enter = #{priceEnter,jdbcType=INTEGER},
      price_sale = #{priceSale,jdbcType=INTEGER},
      insert_user = #{insertUser,jdbcType=VARCHAR},
      insert_dept = #{insertDept,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>